head {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.site-container {
  width: 960px;
  margin: 0 auto;
}

/* Header properties */
header {
  display: flex;
  justify-content: space-between;

  background-color: cadetblue;
  color: white;
  margin-top: 1rem;
}

header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-grow: 1;
}

.logo .image {
  margin-left: 2rem;
  height: 1.5rem;
}

.image img {
  height: 100%;
  width: auto;
}

.logo span {
  margin-left: 1rem;
}
